*{
    margin: 0;
 
    padding: 0;
    text-decoration: none;

    box-sizing: border-box;
}
.nav{
    background-color: rgb(14, 197, 14);
    height: 80px;
    width: 100%;
    position: relative;
}
.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding-left: 50px;
    font-weight: bold;
}
.nav ul{
    float: right;
    margin-right: 00px;
    list-style-type: none;

}
.nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 px;
    position: relative;
    
}
.nav ul li a{
    color: white;
    font-size: 17px;
    padding: 10px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.nav ul li a:hover{
     background-color: green;
   transition: 0.5s;
}


.checkbtn img{
    width: 35px;
    height: auto;
    margin-top: 5px;
}
.checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    .nav ul{
        position: fixed;
        width: 40%%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        background: rgb(132, 247, 132);
        transition: all .5s;
        list-style-type: none;
    }
    .nav ul li{
    display: block;
    }
    .nav ul li a{
        font-size: 20px;
    }
    .nav a:hover,a.active{
        background: none;
        color:red;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .logo a{
        text-decoration: none;
        color: lightyellow;
        font-family: Lucida Calligraphy;
        padding-left: 0px;
    }
    .logo a:hover{
        background: none;
        transition: .5s;
        color: rgb(221, 215, 215);
    
    }
    
}
.logo a{
    text-decoration: none;
    color: lightyellow;
    font-family: Lucida Calligraphy;

}
.logo a:hover{
    background: none;
    transition: .5s;
    color: rgb(221, 215, 215);

}


